#graphic2 {
    position: relative;
    
    /* border: 1px solid #000; */
    /* left: 50%; */
    top: 128px;
    /* padding: 0px 20px;
    margin-left: -233.15px; */

    margin: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
#cursor {
    position: absolute;
    height: 124px;
    width: 3px;
    background-color: rgb(66, 66, 66);
    left: 50%;
    margin-left: -254.155px;
    top: 128px;
    animation-name: cursor ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    /* animation-fill-mode: ; */
    animation-duration: 4s;
}
#graphic2::after {
    content: "";
    position: absolute;
    width: 508.31px;
    height: 124px;
    display: block;
    margin-right: -254.255px;
    right: 50%;
    top: 0px;

    background-color: rgb(255, 255, 255);
    animation-name: mask ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    /* animation-fill-mode: ; */
} 

@keyframes cursor {
    0% {
        height: 0px;
    }
    10% {
        height: 124px;
    }
    15% {
        left: 50%;
        margin-left: -254.155px
    }
    100%{
        margin-left: 254.155px
    }
}

@keyframes mask {
    15% {
        width: 508.31px;
    }
    100% {
        width: 0px;
    }
}

