#flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: flex-end;
    align-content: center
}

.color-value {
    display: inline-block;
    margin: auto 10px;
}
