@media (max-width: 675px) {
    #logo-top {
        display: none;
    }

}

@media (max-width: 639px) {   
    #float-left, #float-right {
        float: none;
        margin: auto;
        font-size: 4vw;
        width: 100%;
        text-align: center;
    }
    #float-left.p, #float-right.p {
        text-align: center;
    }
}

@media (max-width: 548px) {
    #graphic2 {
        font-size: 66px;
    }
    #graphic2::after {
        width: 324px;
        margin-right: -162px;
        height: 82px;
    }

}